/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

main {
    padding: 0 1em;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
}

/* Responsive Stuff Here! */

/* I used this website to get a general idea for what the device pixel support should be for phones, tablet and desktops I hope that is okay
https://www.lambdatest.com/blog/how-to-use-css-breakpoints-for-responsive-design/
*/


@media (min-width: 320px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    header ul {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width:481px) {
    header {
        flex-direction: row;
    }

    main {
        display: flex;
        margin-top: 10px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-right: 10px;
        gap: 10px;
    }
}

@media (min-width:769px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}